<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>
    <module name="network">
        <param name="inputNetworkFile" value="network.xml"/>
    </module>
    
    <module name="plans">
        <param name="inputPlansFile" value="population_100.xml"/>
    </module>

    <module name="vehicles">
        <param name="vehiclesFile" value="vehicles.xml"/>
    </module>

    <module name="transit">
        <param name="useTransit" value="false"/>
    </module>

    <module name="controler">
        <param name="writeEventsInterval" value="1"/>
        <param name="writePlansInterval" value="1"/>
        <param name="eventsFileFormat" value="xml"/>
        <param name="outputDirectory" value="./output"/>
        <param name="firstIteration" value="0"/>
        <param name="lastIteration" value="1"/>
        <param name="mobsim" value="qsim"/>
        <param name="overwriteFiles" value="deleteDirectoryIfExists"/>
    </module>

    <module name="global">
        <param name="coordinateSystem" value="EPSG:25832"/>
        <param name="numberOfThreads" value="8"/>
    </module>

    <module name="qsim">
        <param name="startTime" value="00:00:00"/>
        <param name="endTime" value="30:00:00"/>
        <param name="flowCapacityFactor" value="0.7"/>
        <param name="storageCapacityFactor" value="1.00"/>
        <param name="mainMode" value="car,bike"/>
        <param name="removeStuckVehicles" value="false"/>
        <param name="stuckTime" value="3600.0"/>
        <param name="timeStepSize" value="00:00:01"/>
        <param name="trafficDynamics" value="queue"/>
    </module>

    <module name="planscalcroute">
        <param name="networkModes" value="car, bike"/>
        <parameterset type="teleportedModeParameters">
            <param name="mode" value="walk"/>
            <param name="teleportedModeSpeed" value="1.39"/>
            <param name="beelineDistanceFactor" value="1.1"/>
        </parameterset>
    </module>

    <module name="planCalcScore">
        <parameterset type="scoringParameters">
            <param name="performing" value="23.29"/>
            <param name="marginalUtilityOfMoney" value="1"/>
            <param name="waiting" value="-0.84"/>

            <parameterset type="modeParams">
                <param name="mode" value="car"/>
                <param name="constant" value="-4.21"/>
                <param name="marginalUtilityOfTraveling_util_hr" value="0.0"/>
            </parameterset>

            <parameterset type="modeParams">
                <param name="mode" value="bike"/>
                <param name="marginalUtilityOfTraveling_util_hr" value="-6.0"/>
            </parameterset>

            <parameterset type="modeParams">
                <param name="mode" value="walk"/>
                <param name="marginalUtilityOfTraveling_util_hr" value="-9.91"/>
            </parameterset>

            <parameterset type="modeParams">
                <param name="mode" value="pt"/>
            </parameterset>

            <parameterset type="activityParams">
                <param name="activityType" value="home"/>
                <param name="typicalDuration" value="13:00:00"/>
            </parameterset>

            <parameterset type="activityParams">
                <param name="activityType" value="work"/>
                <param name="typicalDuration" value="09:00:00"/>
            </parameterset>
        </parameterset>
    </module>

    <module name="strategy">
        <param name="maxAgentPlanMemorySize" value="5"/>
        <parameterset type="strategysettings">
            <param name="strategyName" value="ChangeExpBeta"/>
            <param name="weight" value="0.75"/>
        </parameterset>
        <parameterset type="strategysettings">
            <param name="strategyName" value="ReRoute"/>
            <param name="weight" value="0.05"/>
        </parameterset>
        <parameterset type="strategysettings">
            <param name="strategyName" value="SubtourModeChoice"/>
            <param name="weight" value="0.10"/>
        </parameterset>
    </module>

    <module name="subtourModeChoice">
        <param name="chainBasedModes" value="car,bike"/>
        <param name="modes" value="car,bike,walk"/>
    </module>
</config>